
@model IgracDetaljiVM
<body>
    <br /><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="text-align:center;margin:auto;">
                <img src="~/upload/@Model.slika" alt="Slika igraca" style="width:250px;"/>
            </div>
            <div class="col-sm-2 " style="text-align:right;">
                <p>Ime : </p>
                <p>Prezime : </p>
                <p>Datum rodjenja : </p>
                <p>Visina : </p>
                <p>Tezina : </p>
                <p>Broj dresa : </p>
                <p>Grad : </p>
                <p>Pozicija : </p>
                <p>Klub : </p>
            </div>
            <div class="col-sm-5" style="text-align:left;">
                <p>@Model.Ime</p>
                <p>@Model.Prezime</p>
                <p>@Model.DatumRodjenja.ToString("dd.MM.yyyy")</p>
                <p>@Model.Visina cm</p>
                <p>@Model.Tezina kg</p>
                <p>@Model.BrojDresa</p>
                <p>@Model.Grad</p>
                <p>@Model.Pozicija</p>
                <p>@(Model.KlubNaziv==null?"Nije pridružen klubu":Model.KlubNaziv)</p>
            </div>
        </div>
    </div>
    <br />

</body>
