
@model IgracPrikazVM

<body>
    <div class="container">
        <form>
            <div>
                <input type="text" name="pretrazivac" value="@Model.pretraga" style="width:30%;" placeholder="Unesite ime i/ili prezime igrača" />
                <button class="btn btn-secondary " style="width:10%;" type="submit">Traži</button>
                <button class="btn btn-secondary" style="width:15%;position:relative;float:right;" type="button" onclick="window.location='/Igrac/DodajUredi'">Dodaj igrača</button>
            </div>
        </form><br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Broj dresa</th>
                    <th>Pozicija</th>
                    <th>Klub</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                @foreach (IgracPrikazVM.IgracRow x in Model.ListaIgraca)
                {
                    <tr>
                        <td>@x.Ime</td>
                        <td>@x.Prezime</td>
                        <td>@x.BrojDresa</td>
                        <td>@x.Pozicija</td>
                        <td>@(@x.KlubNaziv==null?"Nije pridružen klubu":x.KlubNaziv)</td>
                        <td>
                            <a class="btn btn-secondary" href="/Igrac/Detalji?id=@x.ID">Detalji</a>
                        </td>
                    </tr>

                }
            </tbody>

        </table>

    </div>
    <br />

</body>

