@model StadionPrikazVM

<body>
    <form>
        <div class="row">
            <div class="input-group col">
                <input class="form-control" name="filter" value="@Model.filter" />
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary rounded" type="submit" value="Pretraži" />
                </div>
                <button class="btn btn-outline-secondary col-6 ml-2 mr-2" type="button" onclick="DodajStadion(0)">Dodaj stadion</button>
            </div>
        </div>
    </form>
    <br />

    <table class="table table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th>Naziv</th>
                <th>Kapacitet</th>
                <th>Grad</th>
                <th>Opcije</th>
            </tr>

        </thead>

        <tbody class="text-center">
            @foreach (StadionPrikazVM.Row s in Model.Stadioni)
            {
                <tr>
                    <td class="align-middle">@s.Naziv</td>
                    <td class="align-middle">@s.Kapacitet</td>
                    <td class="align-middle">@s.Grad</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-outline-primary col mr-1" type="button" onclick="DodajStadion(@s.ID)">Uredi</button>
                            <button class="btn btn-outline-danger col" type="button" onclick="window.location='/Stadion/Obrisi?sID=@s.ID'">Obriši</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <div id="dodaj"></div>
</body>

<script>
    function DodajStadion(sID) {
        var url = "/Stadion/DodajUredi?sID=" + sID;

        $.get(url, function (sadrzaj) {
            $("#dodaj").html(sadrzaj);
        });
    }
</script>