@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

@model IEnumerable<IdentityRole>

@{ ViewBag.Title = "All Roles"; }

<body>
    <div class="container">
        <br />
        <h2>Sve uloge</h2>
        <br />
        @if (Model.Any())
        {
            <a class="btn btn-primary mb-3" asp-controller="Administration" asp-action="CreateRole">
            Kreiraj novu ulogu
              </a>
            foreach (var role in Model)
            {
                if (role.Name != "SuperAdmin")
                {
                     <div class="card mb-3">
                        <div class="card-header">
                            Uloga ID: @role.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Naziv uloge: @role.Name</h5>
                        </div>
                        <div class="card-footer">
                            <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                                <a class="btn btn-primary"
                                   asp-action="EditRole"
                                   asp-controller="Administration"
                                   asp-route-id="@role.Id">Uredi</a>
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Da li ste sigurni da želite obrisati : @role.Name?')">
                                    Obriši
                                </button>
                             </form>
                        </div>
                 </div> 
                }
            }
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    Nema kreiranih uloga.
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Klikni na dugme ispod za kreiranje uloge:
                    </h5>
                    <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole">
                        Kreiraj novu ulogu
                    </a>
                </div>
            </div>
         }

    </div>
</body>

