@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using PagedList.Core

<script src="~/js/site.js"></script>

@*@model IEnumerable<IdentityRole>*@
@model PagedList<IdentityRole>

@{ ViewBag.Title = "All Roles"; }

<body>
    <div class="container">
        <br />
        <h2>Sve uloge</h2>
        <br />
        @if (Model.Any())
        {
            <a class="btn btn-warning mb-3" asp-controller="Administration" asp-action="CreateRole">
                Kreiraj novu ulogu
            </a>
            foreach (var role in Model)
            {
                if (role.Name != "SuperAdmin")
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            Uloga ID: @role.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Naziv uloge: @role.Name</h5>
                        </div>
                        <div class="card-footer">
                            <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                                <a class="btn btn-outline-warning"
                                   asp-action="EditRole"
                                   asp-controller="Administration"
                                   asp-route-id="@role.Id">Uredi</a>

                                <span id="PotvrdaBrisanjaSpan_@role.Id" style="display:none;">
                                    <span>Jeste li sigurni da želite obrisati?</span>
                                    <button type="submit" class="btn btn-warning">Da</button>
                                    <a class="btn btn-warning" onclick="PotvrdaBrisanja('@role.Id',false)">Ne</a>
                                </span>

                                <span id="spanBrisanje_@role.Id">
                                    <a class="btn btn-outline-warning" onclick="PotvrdaBrisanja('@role.Id',true)">Obriši</a>
                                </span>

                            </form>
                        </div>
                    </div>
                }
                <pager list="@Model" asp-controller="Administartion" asp-action="ListRoles"></pager>
            }
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    Nema kreiranih uloga.
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Klikni na dugme ispod za kreiranje uloge:
                    </h5>
                    <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole">
                        Kreiraj novu ulogu
                    </a>
                </div>
            </div>
        }

    </div>
</body>
